.map-grid {
    height: 1500px;
    width: 100%;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(10, 3fr);
    grid-template-rows: repeat(10, 3fr);

    color: rgb(230, 238, 245);

    font-family: "Unlock", serif;
    font-weight: 400;
    text-shadow: 1px 1px 21px rgb(0, 0, 0);


}

.map-grid {
    margin-bottom: 0 !important;
    padding: 0;
}

#svgLines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    /* Ensure the SVG is below the boxes */
}

.map-but-one {
    position: relative;
    z-index: 2;
    /* Ensure the boxes are above the SVG lines */
}

.map-levelfive,
.map-levelfour,
.map-levelone,
.map-leveltwo,
.map-levelseven,
.map-levelsix {
    display: flex;
    align-items: center;
    justify-content: center;
}

.midpoint-marker {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.map-levelone {
    /* background-color: black; */
    grid-column-start: 6;
    grid-column-end: 7;
}

.map-but-one {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: #A661FF;
    transform: rotate(-30deg) skewX(25deg) translate(0, 0);
    position: relative;
    transition: transform 0.5s;

}

.map-but-one:hover {
    transform: rotate(-30deg) skewX(25deg) translate(5px, -5px);
    background-color: #d3b0ff;
}

.map-but-one::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #763AC2;
    transition: 0.5s;
    transform: skewY(-45deg);

}

.map-but-one::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #763AC2;
    transition: 0.5s;
    transform: skewX(-45deg);

}

.map-leveltwo {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.map-levelthree {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 7;
}

.map-levelfour {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 8;
}

.map-levelfive {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
}

.map-levelsix {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.map-levelseven {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
}

.map-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1500px;
    pointer-events: none;
}